//COLORS

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

//UI

$color-navigation:$White;
$color-heading:$Black;
$color-text-main:$Black;
$color-footer:$White;

$background-body:$White;
$background-footer:$Black;
$background-navigation-mobile:$Black;